In [1]:
import requests
import pandas as pd
import numpy as np
import re
import time
import os
import matplotlib.pyplot as plt
from matplotlib.projections import polar
from pandas import option_context
from scipy.spatial.distance import cosine
from scipy.spatial.distance import euclidean
from sklearn.metrics.pairwise import cosine_distances
from sklearn.feature_extraction.text import TfidfVectorizer

Data Collection

In this study, we started by collecting data by using a Crawling API to scrape data from Amazon's search results pages. Here's a breakdown of how it goes:

1. We initializes a list called search_terms which likely contains the search terms to be used on Amazon.

2. It sets up parameters such as page limit, starting page number, and folder structure for storing extracted data.

3. It loops through each search term and constructs the Amazon search URL for that term.

4. It defines a function get_reviews(url) to scrape individual product pages for more detailed information such as reviews.

5. It defines a function scrape_url(url) to scrape data from the Amazon search result pages. This function also calls get_reviews(url) to extract more detailed information for each product.

6. It starts crawling by calling scrape_url(amazon_search_url) for the initial search page. If there are multiple pages of search results, it iterates through them, calling scrape_url(page_url) for each page.

7. It writes log files containing information about the crawling process. It converts the scraped data into a DataFrame using Pandas and saves it to a CSV file.

Note : CrawlingAPI link[https://api.crawlbase.com/scraper?token={js_token}&url=] Integration utilizing a Crawling API, which abstracts away the complexity of making HTTP requests and handling responses. This allows the script to focus on parsing the data from Amazon's search result pages rather than dealing with network interactions.

In [15]:

# Specify the directory containing all CSV files
directory = "dataset/clean_data/"

# Initialize an empty DataFrame to store the merged data
merged_df = pd.DataFrame()

# List of categories
categories = ["Children", "Books", "Cleaning Material", "Garage", "Kitchen", 
              "Bedroom", "Living Room", "Bathroom", "Fashion", "Electronic devices", 
              "Peripheral Devices", "Computer Components", "Mobile Accessories", 
              "Personal Care", "Car Stuff", "Office Supplies", "Travel Essentials"]

# Iterate over each category
for category in categories:
    # Construct the file path for the current category
    file_path = os.path.join(directory, f"{category}/items_{category}.csv")
    
    # Check if the file exists
    if os.path.exists(file_path):
        # Read the CSV file into a DataFrame
        category_df = pd.read_csv(file_path)
        
        # Add a 'Category' column with the current category name
        category_df['Category'] = category
        
        # Merge the current category DataFrame with the merged DataFrame
        merged_df = pd.concat([merged_df, category_df], ignore_index=True)
    else:
        print(f"File not found for category: {category}")

C:\Users\Karth\AppData\Local\Temp\ipykernel_14280\4162045034.py:24: DtypeWarning: Columns (20,29,30,31,32,33,34,35,36,37,38,40,51,54,59,68,80,88,97,105,113,132,134,136,137,139,140,142,147,148,156,179,180,181,182,183,184,194,196,209,217,219,220,221,223,224,225,227,231,232,233,244,245,246,248,249,250,251,252,253,277,278,279,280,281,282,283,284,285,286,297,307,308,309,310,311,312,313,316,324,325,326,333,339,355,357,360,361,380,381,385,386,387,388,389,390,391,392,393,394,395,399,400,401,407,408,410,412,415,416,417,418,419,420,421,425,426,428,429,432,433,436,437,442,446,447,451,452,467,468,469,470,474,475,483,484,486,494,495,497,499,501,502,505,508,509,510,511,512,516,527,530,531,532,536,537,538,539,540,541,542,543,544,548,553,554,555,560,561,562,563,564,565,566,567,568,569,571,572,573,574,575,576,579,580,581,582,583,584,585,586,587,588,589,590,591,592,595,596,597,599,600,601,602,603,608,609,610,611,612,613,617,624,625,627,629,630,633,634,640,641,642,646,647,650,651,652,653,656,657,661,662,664,665,666,667,668,669,674,675,677,678,679,680,681,682,685,686,690,691,692,695,696,699,702,703,705,706,712,715,716,717,718,719,720,721,724,725,727,728,729,733,734,735,736,737,739,740,742,743,744,745,746,747,748,750,751,752,753,754,755,756,757,758,761,762,763,765,766,767,768,769,770,771,773,774,775,778,779,780,781,782,784,788,792,793,794,795,796,797,803,807,808,809,812,813,814,815,816,817,819,820,821,822,823,828,829,830,831,838,839,840,841,842,843,844,845,846,847,848,854,856,857,859,862,863,866,870,873,874,875,880,881,882,883,884,886,887,888,890,891,894,895,896,898,901,902,904,908,909,912,913,914,915,916,917,919,922,923,927,930,931,933,934,935,937,941,943,945,947,948,949,951,952,953,954) have mixed types. Specify dtype option on import or set low_memory=False.
  category_df = pd.read_csv(file_path)
C:\Users\Karth\AppData\Local\Temp\ipykernel_14280\4162045034.py:24: DtypeWarning: Columns (18,24,27,28,35,36,38,40,42,45,46,47,48,51,52,57,58,60,61,62,63,64,67,68,69,70,75,76,78,80,81,82,84,85,86,87,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,136,138,139,147,155,156,157,159,160,161,163,164,165,166,167,168,169,170,171,172,173,175,176,181,182,183,184,186,187,188,189,190,191,192,193,194,195,197,198,199,202,207,209,210,211,214,215,216,217,218,219,220,221,222,223,225,226,227,228,229,230,231,232,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,280,281,283,285,289,290,291,292,293,294,295,296,297,298,299,302,303,304,314,316,317,319,320,321,324,325,326,327,328,329,330,333,334,335,338,341,342,343,344,345,346,347,348,349,350,351,353,354,355,357,358,359,361,362,363,364,365,366,367,368,372,373,374,375,376,378,379,380,381,385,386,387,390,392,394,395,396,397,398,399,400,401,402,403,404,405,406,407,409,411,412,413,414,415,416,417,418,419,420,421,422,423,430,446,447,448,452,453,459,463,464,465,466,471,475,476,477,480,481,483,484,486,487,493,494,495,498,508,509,511,512,513,515,518,519,520,521,526,542,564,568,575,577,581,582,584,593,613,614,615,622,624,625,626,629,630,631,633,637,638,639,641,645,646,647,648,649,650,651,652,655,656,658,659,660,664,665,671,677,678,679,680,681,682,684,685,687,688,692,693,694,695,696,699,700,702,704,705,706,707,712,713,715,716,717,719,720,721,722,727,729,730,732,733,734,735,736,738,739,740,741) have mixed types. Specify dtype option on import or set low_memory=False.
  category_df = pd.read_csv(file_path)

File not found for category: Garage

C:\Users\Karth\AppData\Local\Temp\ipykernel_14280\4162045034.py:24: DtypeWarning: Columns (17,27,48,52,62,63,67,70,72,73,90,92,93,94,96,98,99,101,102,103,104,105,107,109,110,111,112,114,115,116,117,118,120,121,122,124,128,129,135,136,142,144,145,150,152,153,154,155,156,159,160,161,162,166,167,168,171,174,177,178,179,180,181,182,183,184,187,188,189,190,193,194,195,199,200,202,203,204,206,207,208,211,212,213,215,216,217,218,220,221,223,225,227,228,229,230,234,235,236,239,240,244,245,246,247,248,249,251,252,256,257,260,261,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,285,286,288,289,292,293,294,296,297,298,299,300,301,304,305,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,341,342,343,345,346,347,348,349,350,351,352,353,354,355,356,357,359,360,361,362,363,364,365,366,367,368,372,373,374,375,376,377,379,380,381,382,383,384,385,386,387,388,389,390,392,393,394,395,396,398,399,400,401,402,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,508,511,512,515,517,518,520,523,524,525,536,537,541,544,545,553,554,555,556,557,558,559,562,563,565,567,569,570,571,573,574,575,576,584,585,588,589,590,591,592,593,595,597,598,600,601,603,604,606,607,608,611,612,613,614,615,616,617,619,620,621,622,623,624,625,626,628,629,630,631,633,634,635,636,638,639,640,641,642,643,647,648,649,650,651,652,653,654,655,656,660,661,662,663,664,665,666,667,668,669,670,671,672,673,677,678,679,684,685,691,692,693,694,695,696,697,698,700,701,702,703,704,705,706,707,708,710,711,712,713,714,715,716,717,718,722,723,724,725,726,727,728,732,733,734,735,736,737,738,739,744,749,750,751,752,754,755,756,757,759,760,761,763,770,771,772,781,786,791,792,794,795,800,803,804,805,806,808,809,810,815,816,817,818,821,825,826,827,828,831,840,845,846,847,852,853,854,855,860,861,864,865,872,875,876,881,882,883,887,888,889,892,894,895,897,898,899,900,902,905,906,908,911,912,913,914,916,917,920,921,925,927,928,929,933,937,939,942,944,945,947,951,952,953,954,955,959,960,961,962,964,974,978,981,982,985,987,993,994,995,996,998,999,1002,1007,1008,1011,1012,1017,1018,1021,1026,1032,1038,1039,1041,1043,1044,1046,1047,1048,1055,1060,1064,1065,1066,1067,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1106,1107,1112,1114,1117,1120,1121,1122,1123,1125,1126,1127,1128,1132,1136,1147,1154,1157,1158,1163,1166,1168,1176,1177,1178,1181,1182,1183,1184,1185,1186,1187,1191,1194,1195,1196,1198,1199,1200,1203,1204,1205,1206,1209,1211,1212,1213,1214,1220,1222,1224,1225,1226,1227,1228,1236,1239,1240,1241,1242,1243,1244,1246) have mixed types. Specify dtype option on import or set low_memory=False.
  category_df = pd.read_csv(file_path)
C:\Users\Karth\AppData\Local\Temp\ipykernel_14280\4162045034.py:24: DtypeWarning: Columns (18,19,21,22,24,26,32,33,37,39,47,48,50,51,58,59,60,61,62,65,66,70,77,78,81,82,85,87,89,90,91,93,94,96,97,99,107,108,110,113,121,122,125,129,130,134,135,136,137,138,139,140,141,142,148,150,151,152,153,154,155,156,157,158,159,160,161,165,166,167,168,169,171,172,173,174,178,179,180,181,182,186,189,194,195,198,199,203,204,205,206,211,213,214,215,216,217,222,226,227,228,230,233,238,239,241,244,245,246,247,248,249,250,253,255,256,258,259,262,263,266,267,270,271,276,277,278,279,281,282,286,288,290,291,292,293,295,296,297,298,299,300,301,302,305,306,307,311,312,313,314,316,317,318,319,321,324,325,327,328,329,335,336,341,342,343,344,346,347,348,349,350,351,352,353,355,356,357,358,359,360,361,363,364,365,366,367,368,372,373,381,382,387,388,389,390,391,392,396,397,398,400,401,403,404,414,415,423,424,425,426,428,432,433,439,440,442,443,444,445,446,448,451,455,456,457,459,460,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,494,497,500,510,511,513,514,515,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,541,542,551,552,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,582,583,585,587,588,589,591,592,593,594,595,596,597,598,599,600,603,604,605,609,610,613,614,615,616,617,622,623,624,630,631,632,633,634,635,636,637,638,639,641,644,645,646,647,648,651,652,653,655,656,660,661,662,663,664,665,666,667,668,669,670,671,676,677,678,679,680,682,683,685,686,687,688,689,690,691,692,693,694,695,696,698,699,702,703,704,705,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,728,729,737,738,739,740,741,742,743,744,745,746,747,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,942,943,944,945,946,947,948,949,952,955,956,957,958,960,965,966,967,968,970,975,976,977,978,979,980,985,986,991,993,995,997,998,999,1000,1001,1002,1006,1011,1012,1016,1018,1019,1020,1024,1026,1031,1032,1033,1036,1037,1038,1039,1040,1042,1043,1044,1045,1046,1047,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1063,1068,1069,1070,1071,1072,1073,1074,1075,1076,1080,1081,1082,1083,1084,1085,1086,1089,1090,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1155,1157,1158,1159,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1198) have mixed types. Specify dtype option on import or set low_memory=False.
  category_df = pd.read_csv(file_path)
C:\Users\Karth\AppData\Local\Temp\ipykernel_14280\4162045034.py:24: DtypeWarning: Columns (18,20,21,22,24,25,26,33,35,36,37,38,42,49,52,56,57,59,60,61,65,66,71,74,75,76,77,78,79,80,81,86,89,92,93,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,120,126,128,129,130,131,133,134,135,136,137,139,140,141,142,143,144,145,153,154,155,158,164,167,178,179,184,186,190,191,192,194,196,197,198,205,207,208,209,210,212,213,214,215,216,217,221,231,232,233,234,236,237,238,254,255,256,268,269,270,271,272,273,274,281,283,284,286,287,288,289,291,292,296,297,298,310,317,318,325,327,329,330,331,332,334,339,341,345,346,349,350,351,354,355,356,357,358,359,361,362,365,372,373,374,375,380,381,387,388,395,398,399,400,401,402,407,411,414,415,416,417,418,419,420,421,422,423,426,427,428,432,437,438,441,443,449,450,455,456,459,461,462,464,468,469,473,475,476,477,478,479,480,488,493,499,500,502,507,513,516,517,518,525,526,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,551,559,560,561,562,563,564,565,566,568,569,570,579,580,581,586,590,591,596,597,598,599,600,602,606,607,608,609,610,611,612,613,614,615,616,617,621,622,624,625,626,627,629,630,631,634,636,637,638,640,644,645,646,647,648,651,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,674,676,677,678,679,680,683,684,693,694,695,697,703,707,708,709,710,711,712,713,714,715,716,717,720,721,722,723,724,725,726,729,730,731,732,733,734,735,736,737,738,739,740,741,742,762,763,764,765,769,770,771,772,773,774,775,776,777,778,779,780,784,785,786,787,788,796,804,805,806,807,808,811,812,813,815,816,817,818,819,820,822,823,824,825,826,827,828,829,830,832,834,835,836,837,838,839,840,841,842,843,845,846,847,848,849,850,851,852,855,856,857,858,859,862,863,867,868,873,876,877,878,882,885,886,887,891,893,894,895,896,897,898,899,903,904,905,906,907,908,909,910,911,913,914,915,920,921,924,925,926,929,930,931,932,934,935,936,937,938,939,940,941,942,943,944,945,947,948,949,950,951,952,953,954,955,956,957,958,959,960,964,965,966,967,968,970,971,972,973,974,975,976,978,979,980,981,982,986,989,990,992,993,994,995,996,997,998,999,1000,1002,1003,1004,1005,1006,1007,1008,1013,1014,1015,1016,1017,1021,1022,1023,1027,1028,1029,1030,1031,1032,1033,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1052,1053,1054,1055,1058,1059,1060,1061,1062,1064,1067,1068,1069,1070,1071,1072,1073,1076,1087,1088,1089,1090,1095,1101,1102,1103,1106,1110,1112,1113,1116,1117,1122,1123,1126,1131,1132,1134,1135,1136,1138,1152,1153,1154,1155,1156,1157,1162,1166,1168,1169,1175,1176,1177,1178,1181,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1215,1216,1217,1219,1220,1221,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1247,1248,1249,1250,1251,1252,1253,1254,1255,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269) have mixed types. Specify dtype option on import or set low_memory=False.
  category_df = pd.read_csv(file_path)
C:\Users\Karth\AppData\Local\Temp\ipykernel_14280\4162045034.py:24: DtypeWarning: Columns (36,43,50,54,55,60,63,66,70,77,78,87,88,89,92,95,97,111,118,119,124,125,126,127,128,129,130,135,142,146,151,160,168,169,170,171,176,181,182,184,189,191,193,194,195,203,207,211,212,213,214,215,219,220,221,222,223,224,225,226,227,228,229,230,231,233,234,235,236,237,238,239,240,241,242,244,245,246,247,248,250,251,252,253,255,256,257,258,259,260,261,262,263,264,265,266,267,268,274,282,283,285,288,295,296,306,308,312,313,314,315,316,317,329,330,331,333,334,335,336,339,340,341,342,343,344,345,349,350,351,352,354,355,356,357,358,359,360,361,362,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,386,387,392,393,395,396,397,398,400,401,402,403,404,409,410,411,412,413,414,418,419,420,422,424,432,433,434,435,436,443,449,451,452,461,463,466,467,468,469,470,471,472,475,482,484,488,496,497,503,504,505,506,507,508,509,511,512,513,514,518,519,523,524,526,527,528,536,537,540,541,544,545,546,549,550,551,552,554,560,563,564,566,569,570,571,572,573,574,575,576,577,578,581,582,583,584,588,589,593,594,616,636,645,651,665,671) have mixed types. Specify dtype option on import or set low_memory=False.
  category_df = pd.read_csv(file_path)
C:\Users\Karth\AppData\Local\Temp\ipykernel_14280\4162045034.py:24: DtypeWarning: Columns (31,33,34,36,37,38,39,40,41,46,65,66,74,75,76,77,78,86,87,95,97,105,116,129,138,147,148,149,150,151,152,153,154,155,156,158,159,160,170,177,178,186,190,192,193,194,195,208,209,210,211,212,213,214,215,216,219,234,235,236,237,245,247,248,251,253,254,255,256,257,258,259,263,264,267,268,269,270,271,276,278,286,289,291,293,337,343,344,345,346,347,348,350,351,352,353,354,355,356,357,358,359,360,375,376,380,400,401,402,403,404,405,406,411,418,419,423,424,426,443,447,455,456,462,476,477,478,491,492,493,517,523,524,525,526,527,528,529,530,531,532,534,535,536,537,538,539,540,541,548,551,552,553,554,556,557,558,560,563,564,565,567,568,569,570,571,572,573,574,575,576,585,587,590,591,592,593,595,604,608,609,610,611,613,614,615,616,619,620,621,622,625,630,631,632) have mixed types. Specify dtype option on import or set low_memory=False.
  category_df = pd.read_csv(file_path)
C:\Users\Karth\AppData\Local\Temp\ipykernel_14280\4162045034.py:24: DtypeWarning: Columns (15,16,17,18,19,20,21,22,24,33,34,35,37,38,40,41,42,43,44,45,47,48,50,51,52,54,55,56,57,59,60,61,62,63,64,66,67,68,69,70,71,72,74,75,86,89,96,98,99,100,101,102,103,104,105,106,108,109,110,113,121,122,126,127,128,130,131,132,134,135,136,138,139,140,141,142,145,146,148,149,150,151,152,153,154,157,161,163,164,167,168,173,177,178,180,181,182,183,185,186,187,188,189,190,191,192,193,194,195,196,198,199,200,201,203,205,206,216,220,221,222,223,231,232,234,236,238,239,240,241,242,243,245,246,247,248,249,250,255,265,266,267,268,272,273,275,276,277,279,286,287,288,289,290,297,298,299,307,308,309,310,312,313,314,315,318,320,322,323,324,325,326,327,328,329,330,331,334,340,345,347,348,349,350,351,352,353,354,355,356,358,359,363,364,365,366,367,368,369,370,371,372,376,377,378,379,380,381,383,387,388,389,390,395,396,398,399,400,401,402,403,404,405,406,407,408,409,410,415,416,417,423,424,425,426,427,429,430,431,432,433,440,442,443,444,452,466,473,476,477,478,479,480,481,482,483,484,487,488,494,495,496,497,498,501,502,511,512,515,524,525,528,534,539,540,541,542,543,546,547,548,549,550,551,553,554,555,556,557,558,559,560,561,563,564,565,566,567,568,569,570,571,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,598,599,600,606,607,608,609,610,612,613,614,616,617,619,620,621,622,623,624,625,626,627,628,629,631,632,633,634,635,636,637,638,643,644,645,647,650,653,657,658,659,661,662,663,665,666,667,679,691,697,706,714,721,722,727,732,733,735,736,737,738,739,741,742,744,745,746,747,748,749,750,751,752,753,754,755,756,757,759,760,761,763,764,765,766,767,768) have mixed types. Specify dtype option on import or set low_memory=False.
  category_df = pd.read_csv(file_path)
C:\Users\Karth\AppData\Local\Temp\ipykernel_14280\4162045034.py:24: DtypeWarning: Columns (61,67,69,70,71,73,89,92,106,111,117,120,123,126,127,128,129,145,146,149,150,154,155,156,159,162,166,167,169,180,191,200,202,204,206,208,222,223,229,235,242,243,245,251,252,254,255,256,257,258,259,260,261,262,263,264,265,266,270,271,272,279,287,290,294,300,328,344,348,350,364,366,367,368,369,370,371,373,374,375,376,377,378,379,380,381,384,385,386,392,397,398,401,402,403,404,405,406,407,408,420,421,422,423,425,426,427,428,430,433,434,437,438,445,446,452,453,454,459,464,465,466,467,468,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,491,492,498,506,507,508,509,510,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,533,535,536,537,539,542,543,544,545,546,547,552,553,554,560,561,562,567,568,569,570,571,572,574,575,578,585,586,587,588,589,590,591,592,593,594,596,597,599,600,601,602,603,604,605,606,607) have mixed types. Specify dtype option on import or set low_memory=False.
  category_df = pd.read_csv(file_path)
C:\Users\Karth\AppData\Local\Temp\ipykernel_14280\4162045034.py:24: DtypeWarning: Columns (44,49,50,51,53,55,56,58,61,62,63,64,68,69,70,71,73,77,80,82,85,89,90,95,97,98,99,101,103,104,105,106,107,108,110,111,112,117,118,119,123,134,135,136,146,150,153,156,160,161,162,163,166,167,168,169,173,175,176,186,187,188,189,190,191,192,193,194,195,196,197,202,208,210,211,212,213,214,215,217,218,219,220,221,222,223,224,229,230,231,232,233,234,237,238,239,242,249,250,251,253,254,255,256,257,258,259,260,261,262,263,264,265,270,271,273,274,275,276,277,278,279,280,281,282,283,285,286,287,288,289,290,291,293,294,298,299,300,304,305,306,307,308,309,310,312,313,314,315,317,318,319,320,321,322,324) have mixed types. Specify dtype option on import or set low_memory=False.
  category_df = pd.read_csv(file_path)
C:\Users\Karth\AppData\Local\Temp\ipykernel_14280\4162045034.py:24: DtypeWarning: Columns (25,28,34,35,39,41,44,45,46,51,52,54,56,57,59,60,62,63,64,65,74,75,77,78,81,82,83,87,88,91,93,94,95,96,102,106,107,108,109,110,111,112,113,114,115,121,122,123,124,127,129,130,134,137,138,141,142,143,145,147,148,149,150,151,152,156,157,158,159,160,161,167,172,179,185,187,190,193,198,202,204,208,209,210,211,214,215,216,219,220,221,222,225,226,229,231,239,241,245,252,253,254,255,262,263,264,265,266,267,268,269,271,272,273,277,278,279,280,281,282,283,286,293,296,302,303,306,307,308,309,310,312,315,317,318,319,321,323,329,330,331,332,333,334,335,337,340,342,343,344,352,353,359,360,361,362,363,364,365,366,368,369,370,371,374,376,382,383,387,390,394,395,396,397,401,405,407,408,411,412,413,414,416,417,426,428,431,432,438,440,441,444,445,446,447,448,449,450,451,452,453,455,456,457,458,459,460,461,462,463,464,465,466,467,470,471,472,474,475,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,499,500,501,506,507,508,509,510,512,514,515,516,518,519,520,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,545,546,547,548,549,554,555,556,557,558,559,560,561,562,569,570,571,572,573,574,577,578,579,585,586,590,591,594,596,597,598,599,602,603,607,613,614,615,616,617,618,619,620,621,622,623,627,628,629,630,631,632,633,634,635,636,642,643,651,653,654,655,656,657,658,659,660,661,662,665,666,667,668,669,672,673,674,675,676,677,678,681,682,689,690,691,693,696,697,700,703,704,710,713,721,723,726,731,735,736,743,744,748,749,751,753,756,758,760,761,762,763,764,766,767,769,770) have mixed types. Specify dtype option on import or set low_memory=False.
  category_df = pd.read_csv(file_path)
C:\Users\Karth\AppData\Local\Temp\ipykernel_14280\4162045034.py:24: DtypeWarning: Columns (24,25,32,39,40,41,44,47,48,49,50,51,52,53,54,61,64,65,68,71,72,73,74,75,76,77,78,79,80,81,83,84,85,86,87,88,89,90,91,92,93,94,104,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,122,123,124,125,126,127,128,129,130,131,132,133,134,136,137,138,139,140,141,142,143,144,145,146,147,148,149,153,154,155,156,157,159,160,161,162,163,164,165,166,167,169,170,172,173,174,175,176,177,178,179,180,183,184,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,236,237,238,239,240,241,242,243,244,245,246,247,249,256,273,278,279,280,289,293,299,302,310,325,327,328,329,334,335,336,337,338,339,342,343,344,345,347,348,349,350,351,353,357,358,361,362,363,364,366,373,374,378,379,380,382,383,386,387,389,393,396,397,398,403,404,405,406,410,412,413,416,417,418,419,425,426,427,428,429,430,433,436,438,439,440,441,442,459,461,462,463,464,466,470,475,476,482,483,484,485,486,487,488,493,504,508,509,510,511,512,513,514,515,516,517,518,520,521,522,524,525,526,527,528,529,530,531,535,536,537,538,539,540,541,542,543,544,546,549,560,569,570,573,581,596,602,603,604,605,608,613,614,626,631,643,655,679,680,681,685,687,688,699,704,705,706,707,708,714,715,716,717,723,724,727,732,742,743,744,750,751,756,757,758,759,763) have mixed types. Specify dtype option on import or set low_memory=False.
  category_df = pd.read_csv(file_path)

Data Cleaning

EDA

In [17]:
display(merged_df.head())

,Unnamed: 0,ASIN,name,price,merchantInfo,isPrime,customerReview,customerReviewCount,description,byLineInfo,...,mounting type hand or propup,mounting type hangingneck fan,mounting type floor and desk,mounting type wearable hands free,material abs + electronic components + soft silica gel,mounting type hanging tabletop,mounting type desk and table option for wall mount,mounting type freestanding desk fan,mounting type desk fantable fan,mounting type no need to install
0,2,B08GCZSX59,moose toys space jam: a new legacy - baller ac...,3.86,NaN,True,4.6,574.0,welcome to the jam the looney tunes are back a...,brand space jam,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,B08T69SX2H,funko action figure: five nights at freddy's d...,20.76,NaN,True,4.7,1459.0,from five nights at freddys dreadbear jackobon...,visit the funko store,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,B01JCUYUL8,sunny days entertainment elite force army rang...,21.24,NaN,True,4.6,2950.0,flush out the enemy with your army ranger set ...,visit the sunny days entertainment store,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,B07H9RMDLK,"avengers marvel black panther 6""-scale marvel ...",8.92,good muffins,True,4.3,1567.0,imagine the incredible superpowered action of ...,visit the avengers store,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,B0B9Q8KPNK,"mattel wwe action figures, top picks elite rom...",31.99,sold by amazon warehouse and fulfilled by amazon,True,4.8,681.0,recreate signature moves and ring entrances wi...,visit the mattel store,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# # Boolean indexing to select rows where the category is "Fashion"
# fashion_df = merged_df[merged_df['Category'] == 'Fashion']

# # Display the DataFrame containing only the "Fashion" category
# display(fashion_df.head())

## Top 10 Highest Customer Review item per Category

In [73]:
# Define a function to get the top 10 reviews per category
def top_reviews_per_category(df):
    return df.nlargest(10, 'customerReview')

# Group the DataFrame by 'Category' and apply the function
top_10_reviews_per_category = merged_df.groupby('Category', group_keys=False).apply(top_reviews_per_category)

# Select only the desired columns and rename them
top_10_reviews_per_category = top_10_reviews_per_category[['name', 'customerReview', 'Category']].rename(columns={'name':'Product Name','customerReview': 'Customer Review'})

# Display the top 10 reviews per category
display(top_10_reviews_per_category)

,Product Name,Customer Review,Category
13571,"twin xl mattress, 8 inch twin bed mattress, tw...",5.0,Bathroom
13579,olixis tri-fold memory foam mattress - 4 inch ...,5.0,Bathroom
13589,"avenco king mattress, 12 inch gel memory foam ...",5.0,Bathroom
13610,"novilla twin mattress, 10 inch twin hybrid mat...",5.0,Bathroom
13632,"avenco queen mattress, 12 inch gel memory foam...",5.0,Bathroom
...,...,...,...
33049,"first aid only eye wash, 1 fluid ounce",5.0,Travel Essentials
33065,first aid only 746005 ansi 2015 compliant larg...,5.0,Travel Essentials
33075,4 shelf empty industrial first aid box with fi...,5.0,Travel Essentials
33091,johnson & johnson first aid to go- mini first ...,5.0,Travel Essentials
33128,first aid only 91390 basic first aid kit first...,5.0,Travel Essentials

## Top 20 Most Reviewed Item

In [62]:
# Get the top 20 rows with the highest values in the 'customerReviewCount' column
top_20_reviews_count = merged_df.nlargest(20, 'customerReviewCount')

# Select only the desired columns and rename them
top_20_reviews_count = top_20_reviews_count[['name', 'customerReview', 'customerReviewCount', 'Category']].rename(columns={'name': 'Product name', 'customerReview': 'Customer Review', 'customerReviewCount': 'Customer Review Count'})

# Display the top 20 rows
display(top_20_reviews_count)

,Product name,Customer Review,Customer Review Count,Category
3968,where the crawdads sing: reese's book club (a ...,4.7,623473.0,Books
19834,apple airpods (2nd generation) wireless ear bu...,4.7,606528.0,Electronic devices
26638,ailun glass screen protector compatible for ip...,4.6,514702.0,Mobile Accessories
13718,amazon basics lightweight super soft easy care...,4.5,485684.0,Bathroom
19827,tozo t10 bluetooth 5.3 wireless earbuds with w...,4.3,360827.0,Electronic devices
28327,essence | lash princess false lash effect masc...,4.3,356841.0,Personal Care
3965,verity,4.6,330599.0,Books
4606,verity,4.6,330598.0,Books
4748,it ends with us,4.7,310976.0,Books
14930,queen size 4 piece sheet set - comfy breathabl...,4.5,306999.0,Bathroom
8895,queen size 4 piece sheet set - comfy breathabl...,4.5,306939.0,Bedroom
13919,bedsure satin pillowcase for hair and skin que...,4.5,305331.0,Bathroom
13877,bedsure satin pillowcase standard set of 2 - p...,4.5,305329.0,Bathroom
30858,thisworx car vacuum cleaner - car accessories ...,4.0,298937.0,Car Stuff
4036,the silent patient,4.4,297786.0,Books
4779,the silent patient,4.4,297786.0,Books
16968,"gildan men's crew t-shirts, multipack, style g...",4.6,280895.0,Fashion
19755,apple earpods headphones with lightning connec...,4.6,278505.0,Electronic devices
20695,blink mini – compact indoor plug-in smart secu...,4.4,275877.0,Electronic devices
9305,blink mini – compact indoor plug-in smart secu...,4.4,275627.0,Bedroom

## Top 20 Most Expensive Item in our dataset

In [67]:
# Remove rows with NaN values in the 'customerReview' column
merged_df = merged_df.dropna(subset=['customerReview'])

# Get the top 20 rows with the highest values in the 'price' column
top_20_expensive_items = merged_df.nlargest(20, 'price')

# Select only the desired columns and rename them
top_20_expensive_items = top_20_expensive_items[['name', 'price', 'customerReview', 'Category']].rename(columns={'name': 'Product name', 'price': 'Top 20 Most Expensive Item'})

# Display the top 20 rows
display(top_20_expensive_items)

,Product name,Top 20 Most Expensive Item,customerReview,Category
24169,nvidia h100 80 gb graphic card pcie hbm2e memo...,30099.99,1.0,Computer Components
21119,lg signature 88-inch class oled z2 series alex...,26044.61,3.7,Electronic devices
22897,jvc dla-nz9 d-ila laser home theater projector...,22390.25,5.0,Peripheral Devices
23058,sony vplvw885es 4k hdr laser home theater vide...,21235.86,3.6,Peripheral Devices
9237,kohler 30754-pa-hb1 k-30754-pa-hb1 numi 2.0 co...,9937.50,5.0,Bedroom
21254,samsung un78js9100 curved 78-inch 4k ultra hd ...,8998.94,3.1,Electronic devices
9104,kohler 30754-pa-0 numi 2.0 comfort height smar...,8625.00,3.3,Bedroom
21291,"sony xr85z9k 85"" 8k bravia xr hdr mini led sma...",7298.00,1.0,Electronic devices
9029,toto ms989cumfg#01 neorest ah dual flush 1.0 o...,5134.43,4.1,Bedroom
6797,jura giga 6 automatic coffee machine with p.e....,4998.00,3.0,Kitchen
23035,jvc dla-np5 d-ila 4k hdr home theater projecto...,4988.51,5.0,Peripheral Devices
22939,formovie theater ultra short throw projector 2...,4798.00,4.2,Peripheral Devices
9167,kohler k-5401-pa-0 veil comfort height skirted...,4725.00,4.0,Bedroom
29561,"terra pure green tea cleansing bar soap, trave...",4429.49,4.2,Personal Care
21263,"sylvox 75 inch outdoor tv, 2000 nits full sun ...",3999.00,4.4,Electronic devices
7604,amana commercial rc30s2 amana rc chef line com...,3912.75,3.9,Kitchen
9105,kohler 77780-0 karing smart toilet with auto o...,3750.00,2.7,Bedroom
24652,"amd ryzen threadripper 3990x 64-core, 128-thre...",3600.00,4.3,Computer Components
23062,epson epiqvision ultra ls800 ultra short throw...,3499.99,3.9,Peripheral Devices
8610,"bull outdoor products bbq 44000 angus 75,000 b...",3369.00,4.2,Kitchen

## Number of Reviews per Categories

In [69]:
review_counts = merged_df.groupby('Category')['customerReview'].count().sort_values(ascending=False)

# Display the counts
display(review_counts)

Category
Fashion                4314
Personal Care          3691
Children               3068
Bedroom                2479
Kitchen                2402
Living Room            2147
Electronic devices     2100
Computer Components    1847
Peripheral Devices     1768
Bathroom               1525
Travel Essentials      1484
Cleaning Material      1389
Books                  1281
Office Supplies        1262
Mobile Accessories     1102
Car Stuff               911
Name: customerReview, dtype: int64

In [70]:
file_path = "dataset/utility/reviews.csv"

# Load the CSV file into a DataFrame
reviews_df = pd.read_csv(file_path)

## Number of Reviews per Country

In [71]:
# Filter the DataFrame to include only rows where reviewVotes are not null and not equal to 0
filtered_reviews_df = reviews_df.dropna(subset=['reviewVotes'])
filtered_reviews_df = filtered_reviews_df[filtered_reviews_df['reviewVotes'] != 0]

# Count the occurrences of review locations
review_location_counts = filtered_reviews_df['reviewLocation'].value_counts()

# Display the counts
display(review_location_counts)

reviewLocation
United States      69315
Canada              3525
Mexico              1210
United Kingdom       843
India                341
Germany              292
Brazil               243
Japan                201
France               162
Italy                141
Spain                139
Australia            106
Singapore             22
Netherlands            4
Name: count, dtype: int64

shem baka gusto mo i GSA to if bet mo lang haha

Duda ako dito  wait ask ko kay K

In [42]:
# Count the review votes per product name
review_votes_counts = reviews_df.groupby('ProductName')['reviewVotes'].sum()

# Sort the review votes counts in descending order
review_votes_counts_sorted = review_votes_counts.sort_values(ascending=False)
reviews_df = reviews_df.applymap(lambda x: x.replace('_', ' ') if isinstance(x, str) else x)


# Select the top 10 products
top_10_products = review_votes_counts_sorted.head(10)

# Display the top 10 products
print(top_10_products)

ProductName
shaperx bodysuit for women tummy control shapewear seamless sculpting thong body shaper tank top                                                                                           2108
nizoral antidandruff shampoo with 1% ketoconazole fresh scent 7 fl oz                                                                                                                      1476
cerave daily moisturizing lotion for dry skin | body lotion face moisturizer with hyaluronic acid and ceramides | daily moisturizer | fragrance free | oilfree | 12 ounce                  1439
tplink ax5400 wifi 6 router archer ax73 dual band gigabit wireless internet router highspeed ax router for streaming long range coverage 5 ghz                                             1310
minibee women's linen blouse high low shirt rollup sleeve tops                                                                                                                             1304
oster convection oven 8in1 countertop toaster oven xl fits 2 16" pizzas stainless steel french door                                                                                        1284
embryolisse laitcreme concentre face cream makeup primer  cream for daily skincare  face moisturizers for all skin types new packaging                                                     1272
tplink wifi router ac1750 wireless dual band gigabit archer c7 routerac1750                                                                                                                1145
beats fit pro  true wireless noise cancelling earbuds  apple h1 headphone chip compatible with apple android class 1 bluetooth builtin microphone 6 hours of listening time  tidal blue    1100
germguardian air purifier for home large rooms h13 hepa filter removes dust allergens smoke pollen odors mold uvc light helps reduce germs 28 inch black ac5350b                           1027
Name: reviewVotes, dtype: int64